a.inactive{ cursor: default; opacity: 0.5 }
a.removeAll.inactive{ cursor: pointer; opacity: 1 }

a.clone{ background: url(../images/clone.png) no-repeat 0 50% }

a.backgrounds { position: relative }
a.backgrounds ul {
    position: absolute;
    z-index: 100;
    /*top: -10px;*/
    font-size: 14px;
    display: none;
    list-style: none;
    background: gray;
    width: 200px;
}

a.backgrounds ul li {
    cursor: pointer;
}


#custom_text{ background: gray; position: absolute; left: 0; top: 0; z-index: 1000; border: 1px solid black; } 
#custom_text .font_selector .current_font { background: white; border: 1px solid black; cursor: pointer; padding: 4px }
#custom_text .font_selector ul { display: none; z-index: 1; position: absolute; background: white; border: 1px solid black; left: 0px; min-width: 100px;  }
#custom_text .font_selector ul li { padding: 2px 10px 2px 10px; border-bottom: 1px solid gray; cursor: pointer;  }
#custom_text .font_selector ul li:hover { background: #cccccc }

#custom_text .align { 
    float: left; 
    width:  32px; 
    height: 32px; 
    margin-left: 5px; 
    border: 1px solid black; 
    background: white;
    cursor: pointer;
}
#custom_text .align.active { border: 2px solid black }
#custom_text .align._left {  background-image: url(../images/align_left.png) }
#custom_text .align._center{ background-image: url(../images/align_center.png) }
#custom_text .align._right { background-image: url(../images/align_right.png) }

#custom_text .text_style.italic {   font-style: italic }
#custom_text .text_style.underline{ text-decoration: underline}
#custom_text .text_style.though{  text-decoration: line-through}
#custom_text .text_style.shadow{ text-shadow: black 1px 1px 2px ;   }
#custom_text .text_style{ background: white; cursor: pointer }
#custom_text .text_style.active{ background: blue }





#custom_text.inactive { display: none; }

/*body{*/
    /*font-family: CrashCTT_400;*/
/*}*/

.CA_BND_Web_Bold_700 { font-family: 'CA_BND_Web_Bold_700';};
.CrashCTT_400{ font-family:  'CrashCTT_400' }
.DejaVu_Serif_400{ font-family:  'DejaVu_Serif_400' }
.Delicious_500{ font-family:  'Delicious_500' }
.Encient_German_Gothic_400{ font-family:  'Encient_German_Gothic_400' }
.Globus_500{ font-family:  'Globus_500' }
.Modernist_One_400{ font-family:  'Modernist_One_400' }
.OdessaScript_500{ font-family: 'OdessaScript_500' }
.Quake_Cyr{ font-family: 'Quake_Cyr' }
.Tallys_400{ font-family: 'Tallys_400' }
.Terminator_Cyr{ font-family: 'Terminator_Cyr' }
.Times_New_Roman{ font-family:  'Times_New_Roman' }
.Vampire95{ font-family: 'Vampire95' }
